/* *************** ROOT ************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(170, 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsla(148, 23%, 89%);

  --nav-height: 4.5rem;

  font-size: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'DM Sans';
  text-align: center;
  font-size: 1rem;

  overflow: overlay;
}

ul {
  list-style: none;
}

.wrapper {
  width: 23.4375rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}
/** *************** NAVIGATION *************************************/
nav {
  display: flex;
  height: var(--nav-height);

  padding: 1rem 1.5rem;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
  width: 100vw;
}
nav.scroll svg:nth-child(1) path {
  fill: white;
}
nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ***************HEADER *************************************/
header {
  margin-top: calc(1.25rem + var(--nav-height));
}

header::before {
  content: '';
  width: 100%;
  height: calc(67.5rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header h4 {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: var(--primary-color);
}

header h1 {
  margin-bottom: 1.5625rem;
  font-size: 2.125rem;
  color: var(--headline);
  line-height: 130%;
}

header p {
  margin-bottom: 1.9375rem;
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
}

header button {
  margin-bottom: 3.75rem;
  background: var(--primary-color);
  margin-right: auto;
  margin-left: auto;

  border: none;
  border-radius: 4rem;

  height: 3.875rem;
  width: 16.4375rem;

  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header img .foto-women {
  width: 16.5rem;
  display: block;
  margin-inline: auto;
  object-position: 0 1.25rem;
}

header .stats {
  width: 20.4375rem;
  padding-block: 2.5rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.75rem;
}

.stat h3 {
  font-size: 2.5rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.25rem;
}
.stat p {
  margin: 0;
  color: var(--primary-color);
}

/* *************** MENU EXPANDED ************************************/
body.menu-expanded {
  overflow: hidden;
}
body.menu-expanded > :not(nav) {
  display: none;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}
body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vw;

  padding-top: var(--nav-height);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  margin-top: 3.5rem;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.9rem;
}
.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu .button {
  background: white;
  border-radius: 2.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.43rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 1rem 2rem;

  margin-top: 3rem;
  margin-bottom: 5rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}
body.menu-expanded button path {
  stroke: white;
}
